body {
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #773b3b;
  }
  
  h1 {
    text-align: center;
  }
  
  .button {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
  }
  
  .background {
    background-image: url('Image\ 2.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
  }
  
  .container h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
  }
  
  input[type="date"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
  }
   